*{
  margin: 0px;
}
.magicCont{
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.TreeMonkCont{
    display: flex;
    width: 100%;
    height: 47.5%;
    flex-direction: row;
    justify-content: space-evenly;
}
.TooMonkCont{
    display: flex;
    width: 66%;
    height: 47.5%;
    flex-direction: row;
    justify-content: space-evenly;
}
.bildWM{
  width: auto;
  height: 85%;
}
.bildSuM{
  width: auto;
  height: 80%;
}
.bildNM{
  width: auto;
  height: 80%;
}
.bildAM{
  width: auto;
  height: 85%;
}
.bildD{
  width: auto;
  height: 85%;
}
.magicMonkeyContainer{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #AB7EF8;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 3vh;
}
.länk{
  height: 100%;
  width: 30%;
  text-decoration: none;
}
.länkToo{
    height: 100%;
    width: 45%;
    text-decoration: none;
  }
.namnMonkey{
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 3vh 3vh;
}
.text{
    color: white;
}



*{
    margin: 0px;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*Topbaren och allt som är i den*/

.TopBar{
    background-color: #C59B63;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-start;
}
.Info{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.NoMonkey{
    font-size: 30px;
    cursor: pointer;
    color: #111;
    text-decoration: none;
    margin-top: 1.5%;
}

/*Slut på topbaren*/






.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  @media screen and (max-width: 995px){
        .Info{
            width: 40%;
        }
        .bildSF{
            width: 95%;
            height: auto;
        }
  }
  @media screen and (max-width: 912px){
    .TreeMonkCont{
        flex-direction: column;
    }
    .TooMonkCont{
        flex-direction: column;
    }
    .länk{
        width: 100%;
        height: 30%;
    }
    .länkToo{
        width: 100%;
        height: 45%;
    }
    .TreeMonkCont{
        width: 100%;
        height: 60%;
        justify-content: space-around;
    }
    .TooMonkCont{
        width: 100%;
        height: 40%;
        justify-content: space-around;
    }
    .magicCont{
        height: 300vh;
   
        justify-content: space-evenly;
    }
    .container{
        height: 320vh;
        justify-content: space-between;
    }
    .bildSF{
        width: auto;
        height: 80%;
    }
    .bildBH{
        width: auto;
        height: 80%;
    }
    .bildEM{
        width: auto;
        height: 80%;
    }
    .Info{
        flex-direction: column;
        width: 100%;
    }
    .TopBar{
        height: 8%;
    }
    .TopBar{
        height: 3%;
    }
  }
@media screen and (max-width: 810px){
    .Info{
        width: 45%;
    }
}
@media screen and (max-width: 765px){
    .bildEM{
        width: 99%;
        height: auto;
    }
}
  @media screen and (max-width: 769px){
      .bildSF{
          width: 100%;
          height: auto;
      }
      .bildBH{
          width: 100%;
          height: auto;
      }
  }
    @media screen and (max-width: 414px){
        .bildNM{
            width: 90%;
            height: auto;
        }
        .TopBar{
            height: 3%;
        }
        }
    /*Top baren large phone slut*/
    @media screen and (max-width: 320px){
        .bildSF{
            width: 99%;
            height: auto;
        }
        .bildSuM{
            width: 90%;
            height: auto;
        }
    }