*{
  margin: 0px;
}
.militaryCont{
  display: flex;
  width: 90%;
  height: 90%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.ForMonkCont{
  display: flex;
  width: 100%;
  height: 47.5%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.TreeMonkCont{
  display: flex;
  width: 75%;
  height: 47.5%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.bildSM{
  width: auto;
  height: 85%;
}
.bildMS{
  width: auto;
  height: 85%;
}
.bildMB{
  width: auto;
  height: 85%;
}
.bildMA{
  width: auto;
  height: 80%;
}
.bildHP{
  width: auto;
  height: 85%;
}
.bildMM{
  width: auto;
  height: 85%;
}
.bildDG{
  width: auto;
  height: 85%;
}
.militaryMonkeyContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #8DEB79;
  justify-content: space-between;
  align-items: center;
  border-radius: 3vh;
}
.länk{
  height: 100%;
  width: 22.5%;
  text-decoration: none;
}
.länkTree{
  height: 100%;
  width: 30%;
  text-decoration: none;
}
.namnMonkey{
  display: flex;
  width: 100%;
  height: 5vh;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 3vh 3vh;
}
.text{
    color: white;
}



*{
    margin: 0px;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*Topbaren och allt som är i den*/

.TopBar{
    background-color: #C59B63;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-start;
}
.Info{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.NoMonkey{
    font-size: 30px;
    cursor: pointer;
    color: #111;
    text-decoration: none;
    margin-top: 1.5%;
}

/*Slut på topbaren*/






.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  @media screen and (max-width: 1280px){
    .bildMA{
      width: 95%;
      height: auto;
    }
    .bildMM{
      width: 95%;
      height: auto;
    }
    .bildMS{
      width: auto;
      height: 80%;
    }
    .bildHP{
      width: auto;
      height: 80%;
    }
    .bildDG{
      width: 85%;
      height: auto;
    }
    }
  @media screen and (max-width: 1024px){
    .Info{
        width: 40%;
    }
    .bildMA{
      height: 80%;
      width: auto;
    }
    .bildMM{
      height: 80%;
      width: auto;
    }
    .bildMS{
      height: 80%;
      width: auto;
    }
    .bildHP{
      height: 80%;
      width: auto;
    }
    .bildDG{
      height: 80%;
      width: auto;
    }
}
  @media screen and (max-width: 995px){
        .Info{
            width: 40%;
        }
        .bildSF{
            width: 95%;
            height: auto;
        }
  }
@media screen and (max-width: 810px){
    .Info{
        width: 45%;
    }
}
@media screen and (max-width: 765px){
    .bildEM{
        width: 99%;
        height: auto;
    }
}
  @media screen and (max-width: 769px){
      .Info{
          width: 45%;
          flex-direction: row;
      }
      .bildSF{
          width: 100%;
          height: auto;
      }
      .bildBH{
          width: 100%;
          height: auto;
      }
  }
  @media screen and (max-width: 1200px){
    .ForMonkCont{
        flex-direction: column;
    }
    .TreeMonkCont{
        flex-direction: column;
    }
    .länk{
        width: 100%;
        height: 22.5%;
    }
    .länkTree{
        width: 100%;
        height: 30%;
    }
    .ForMonkCont{
        width: 100%;
        height: 57%;
        justify-content: space-around;
    }
    .TreeMonkCont{
        width: 100%;
        height: 43%;
        justify-content: space-around;
    }
    .militaryCont{
        height: 500vh;
   
        justify-content: space-evenly;
    }
    .container{
        height: 320vh;
        justify-content: space-between;
    }
    .Info{
        flex-direction: column;
        width: 100%;
    }
    .TopBar{
        height: 8%;
    }
  }
  @media screen and (max-width: 426px){
    .TopBar{
        height: 9%;
    }
    }
    @media screen and (max-width: 414px){
      .bildMA{
        width: 80%;
        height: auto;
      }
      .bildMM{
        width: 80%;
        height: auto;
      }
      .bildMS{
        width: 70%;
        height: auto;
      }
      .bildHP{
        width: 70%;
        height: auto;
      }
      .bildDG{
        width: 70%;
        height: auto;
      }
      }
    /*Top baren large phone slut*/
    @media screen and (max-width: 376px){
        .TopBar{
            height: 9%;
        }
        }