.primaryCont{
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.TreeMonkCont{
    display: flex;
    width: 100%;
    height: 47.5%;
    flex-direction: row;
    justify-content: space-evenly;
}
.bildDM{
  width: auto;
  height: 85%;
}
.bildBM{
  width: auto;
  height: 80%;
}
.bildBS{
  width: auto;
  height: 80%;
}
.bildTS{
  width: auto;
  height: 85%;
}
.bildIM{
  width: auto;
  height: 85%;
}
.bildGG{
  width: auto;
  height: 80%;
}
.primaryMonkeyContainer{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #6EBFE8;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 3vh;
}
.länk{
  height: 100%;
  width: 30%;
  text-decoration: none;
}
.namnMonkey{
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 3vh 3vh;
}
.text{
    color: white;
}



*{
    margin: 0px;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*Topbaren och allt som är i den*/

.TopBar{
    background-color: #C59B63;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-start;
}
.Info{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.NoMonkey{
    font-size: 30px;
    cursor: pointer;
    color: #111;
    text-decoration: none;
    margin-top: 1.5%;
}

/*Slut på topbaren*/






.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }